<%- include("./partials/head.ejs") %>
<div class="jobs">
    <h2>All Jobs</h2>
    <% if (jobList.length > 0) { %> 
        <% jobList.forEach(job => { %>
            <ul>
                <li class="date"><h3>12/20/2023<%= //job.date %></h3></li>
                <li class="company-name"><%= job.jobTitle %> <span>- <%= job.companyName %></span></li>
                <li class="job-description"><a href="<%= job.linkToJd %>">Job Description</a></li>
                <li class="job-requirements">
                    <ul>
                        <% job.requirements.forEach(requirement => { %>
                            <li><%= requirement %></li>
                        <% }) %>
                    </ul>
                </li>
                <li class="job-status">
                    <ul>
                        <% job.status.forEach(stat => { %>
                            <li><%= stat %></li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        <% }) %> 
    <% } else { %>
        <p>There are no blogs to display......</p>
    <% } %>
</div>
<%- include("./partials/footer.ejs") %>
