<%- include("./partials/head.ejs"); %>
<div class="jobs">
    <div class="job-list-title">
        <h2>Todays Jobs (<%= jobList?.length %>)</h2>
        <select class="form-select" id="months">
            <option selected>Open this select menu</option>
            <option value="10">October</option>
            <option value="11">November</option>
        </select>
    </div>
    <% if (jobList?.length > 0) { %> 
        <% jobList.forEach(job => { %>
            <div class="job-row">
                <ul>
                    <li class="date"><h3><%= moment(new Date(job.date)).format('MM/D/YYYY'); %></h3></li>
                    <li class="company-name"><%= job.jobTitle %> <span>- <%= job.companyName %></span></li>
                    <li class="job-description"><a href="<%= job.jobLink %>" target="_blank">Link to JD</a></li>
                    <li class="job-notes"><%- job.notes.replace(/(?:\r\n|\r|\n)/g, "<br>");  %></li>
                    <% if(typeof job.reqs !== 'undefined'){ %>
                        <li class="job-requirements">
                            <ul>
                                <% job.reqs.forEach(req => { %>
                                    <li><%= req %></li>
                                <% }) %>
                            </ul>
                        </li>
                    <% } %>
                    <% if(typeof job.acts !== 'undefined'){ %>
                        <li class="job-status">
                            <ul>
                                <li><%= job.acts %></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </div>
        <% }) %> 
    <% } else { %>
        <p>There are no blogs to display......</p>
    <% } %>
</div>
<%- include("./partials/footer.ejs") %>
