<%- include("./partials/head.ejs") %>
<div class="jobs-list">
    <%- include("./partials/job-list-title-drop.ejs", {title:'Full Job List', dropdown: true, length: jobList?.length}); %>
   
    <% if (jobList?.length > 0) { %> 
        <script>
            window.addEventListener("load", (event) => {
                document.querySelector('#delete-all').addEventListener('click', ({target})=>{
                    let checks = document.querySelectorAll('.checks .archive-item');
                    if (target.checked) {
                        checks.forEach(item => item.classList.add('vis'));
                    } else {
                        checks.forEach(item => item.classList.remove('vis'));
                    }
                    let archive = document.querySelector('.archive');
                    if (target.checked) {
                        archive.classList.add('vis');
                    } else {
                        archive.classList.remove('vis');
                    }
                });
                document.querySelector('#submit').addEventListener('click', (submit)=>{
                    let archiveItems = document.querySelectorAll('.archiveItem:checked');
                    let data = []
                    
                    archiveItems.forEach((item)=>{
                        data.push(item.dataset.id)
                    })
                    
                    fetch('/api/archive', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify( data )
                    });
                })
            });

        </script>
        <div class="jobs-content">
            <table class="job-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="delete-all"></th>
                        <th><a href="/list/sort/date">Date</a></th>
                        <th><a href="/list/sort/companyName">Company</a></th>
                        <th><a href="/list/sort/jobTitle">Title</a></th>
                        <th>Desc</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% jobList?.forEach(job => { %>
                    <tr>
                        <td class="checks"><input type="checkbox" class="archive-item" name="archiveItem" data-id="<%= job._id %>"></td>
                        <td class="date"><%= moment(new Date(job.date)).format('MM/D/YYYY'); %></td>
                        <td class="company-name"><%= job.companyName %></td>
                        <td class="job-title"><%= job.jobTitle %></td>
                        <td class="job-link"><a href="<%= job.jobLink %>">Link</a></td>
                        <td class="edit">
                            <a href="/edit?id=<%= job._id %>">edit</a> | 
                            <a href="/delete?id=<%= job._id %>" onclick="return confirm('Are you sure?')">delete</a>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
                <tfoot>
                    <tr><td colspan="6" class="archive vis"><input type="submit" name="submit" id="submit" value="Archive Selected Items"></td></tr>
                </tfoot>
            </table>
        </div>
    <% } else { %>
        <p>There are no blogs to display......</p>
    <% } %>
</div>
<%- include("./partials/footer.ejs") %>
