<%- include("./partials/head.ejs") %>
<div class="jobs-list">
    
    <%- include("./partials/job-list-title-drop.ejs", {title:'Full Job List', dropdown: true, length: jobList?.length}); %>
   
    <% if (jobList?.length > 0) { %> 
        <div class="jobs-content">
            <table class="job-table">
                <thead>
                    <tr>
                        <th><a href="/list/sort/date">Date</a></th>
                        <th><a href="/list/sort/companyName">Company</a></th>
                        <th><a href="/list/sort/jobTitle">Title</a></th>
                        <th>Desc</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <% jobList?.forEach(job => { %>
                    <tr>
                        <td class="date"><%= moment(new Date(job.date)).format('MM/D/YYYY'); %></td>
                        <td class="company-name"><%= job.companyName %></td>
                        <td class="job-title"><%= job.jobTitle %></td>
                        <td class="job-link"><a href="<%= job.jobLink %>">Link</a></td>
                        <td class="edit">
                            <a href="/edit?id=<%= job._id %>">edit</a> | 
                            <a href="/delete?id=<%= job._id %>" onclick="return confirm('Are you sure?')">delete</a>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    <% } else { %>
        <p>There are no blogs to display......</p>
    <% } %>
</div>
<%- include("./partials/footer.ejs") %>
