<%- include("./partials/head.ejs") %>
<div class="add">
    <form action="/login" method="post">
        <h2><%= title %></h2>
        <div class="content" style="display: flex;">
            <ul>
                <li class="job-title">
                    <label>Username: </label><input type="text" name="username" value="<%= username %>" />
                </li>
                <li class="company-name">
                    <label>Password: </label><input type="text" name="password" value="<%= password %>"/>
                </li>
            </ul>
        </div>
        <div class="submit">
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
</div>
<%- include("./partials/footer.ejs") %>